!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    //script(src='/javascripts/bootstrap.js')
    title #{Title}
  body
    div.container
      header.jumbotron.subhead
        h1 #{Title}
        p.lead.
          This tool allows you to view the details of different tariffs in a zipcode. 
      div.row
        block content
      div.row
        div.span12
          p
      div.row
        div.span12
          p Click 
            a(href='/') here 
            to start over.