!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      a.genability {
        text: decoration: none;
        display: inline-block;
        width: 160px;
        height: 32px;
        overflow: hidden;
        text-align: left;
        text-indent: -9999px;
        background: url(http://genability.com/images/powered-by/poweredby_genability-160.png) no-repeat;
      }
    title #{Title}
  body
    div.container
      div.span10.offset1
        header.jumbotron.subhead
          img.pull-right(src='/images/Logo-SM-200px.png')
          h1 #{Title}
          p.lead.
            This tool allows you to view the details of different tariffs in a zipcode. 
        div.row
        block content 
        footer.footer
          p.pull-right Click 
            a(href='/') here 
            to start over.
          p &copy; Noesis Energy Inc.
      div.span1.offset5
        div.row
          p
            a.genability(href="http://www.genability.com/") Powered by Genability