extends layout

block content
  h3 #{Subtitle}
  table.table.table-striped.table-bordered.table-condensed
    thead
      tr
        th Attribute
        th Value
    tbody
    each val, key in tariff
      tr
        td #{key}:
        - if (val == '' || val == null) 
          td None
        - else
          td #{val}