extends layout

block content
  div.span12
    h2 #{Subtitle}
    form.well.form-inline(method='post', action='/display-tariff-details')
      label Select your tariff for #{utilityName}:
      select(name='selectedTariff')
        for tariff in tariffs
          option #{tariff.tariffName}
      button.btn(type='submit').
        Get Details