extends layout

block content
  div.span12
    form.well.form-inline(method='post', action='/display-tariffs')
      label Select your utilities for #{zip}:
      select(name='util_list')
        for utility in utilities
          option #{utility.name}
      button.btn(type='submit').
        Get Tariffs