extends layout

block content
  div.span12
    h2 #{Subtitle}
    form.well.form-inline(method='post', action='/display-tariffs')
      label Select your utilities for #{zip}:
      select(name='selectedUtil')
        for utility in utilities
          option #{utility.name}
      button.btn(type='submit').
        Get Tariffs