extends layout

block content
  h2 #{Subtitle}
  form.well.form-inline(method='post', action='/display-tariffs')
    label Select your utilities for #{zip}:
    //- the following is required to put a space between form elements for Safari
    | 
    select(name='selectedUtil')
      for utility in utilities
        option #{utility.name}
    //- the following is required to put a space between form elements for Safari
    | 
    button.btn.btn-primary(type='submit').
      Get Tariffs